{% extends 'base.html.twig' %}

{% block title %}Contracts index{% endblock %}

{% block body %}
    <h1>Contracts index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>PastDueDays</th>
                <th>Balance</th>
                <th>Start</th>
                <th>LastPayment</th>
                <th>LastInvoice</th>
                <th>CreatedDate</th>
                <th>UpdatedDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td>{{ contract.id }}</td>
                <td>{{ contract.number }}</td>
                <td>{{ contract.pastDueDays }}</td>
                <td>{{ contract.balance }}</td>
                <td>{{ contract.start ? contract.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contract.lastPayment ? contract.lastPayment|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contract.lastInvoice }}</td>
                <td>{{ contract.createdDate ? contract.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contract.updatedDate ? contract.updatedDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('contracts_show', {'id': contract.id}) }}">show</a>
                    <a href="{{ path('contracts_edit', {'id': contract.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contracts_new') }}">Create new</a>
{% endblock %}
