{% extends 'base.html.twig' %}

{% block title %}Addresses{% endblock %}

{% block body %}
    <h1>Addresses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ address.id }}</td>
            </tr>
            <tr>
                <th>Address1</th>
                <td>{{ address.address1 }}</td>
            </tr>
            <tr>
                <th>Address2</th>
                <td>{{ address.address2 }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ address.zipcode }}</td>
            </tr>
            <tr>
                <th>CreatedDate</th>
                <td>{{ address.createdDate ? address.createdDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedDate</th>
                <td>{{ address.updatedDate ? address.updatedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('addresses_index') }}">back to list</a>

    <a href="{{ path('addresses_edit', {'id': address.id}) }}">edit</a>

    {{ include('addresses/_delete_form.html.twig') }}
{% endblock %}
