<!DOCTYPE html>

<title>SyStates index</title>

{% block body %}
    <h1>SyStates index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedDate</th>
                <th>UpdatedDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sy_state in sy_states %}
            <tr>
                <td>{{ sy_state.id }}</td>
                <td>{{ sy_state.name }}</td>
                <td>{{ sy_state.createdDate ? sy_state.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sy_state.updatedDate ? sy_state.updatedDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('sy_states_show', {'id': sy_state.id}) }}">show</a>
                    <a href="{{ path('sy_states_edit', {'id': sy_state.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sy_states_new') }}">Create new</a>
{% endblock %}
