<!DOCTYPE html>

<title>Branches index</title>

{% block body %}
    <h1>Branches index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for branch in branches %}
            <tr>
                <td>{{ branch.id }}</td>
                <td>{{ branch.name }}</td>
                <td>
                    <a href="{{ path('branches_show', {'id': branch.id}) }}">show</a>
                    <a href="{{ path('branches_edit', {'id': branch.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('branches_new') }}">Create new</a>
{% endblock %}
