<!DOCTYPE html>

<title>Branches</title>

{% block body %}
    <h1>Branches</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ branch.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ branch.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('branches_index') }}">back to list</a>

    <a href="{{ path('branches_edit', {'id': branch.id}) }}">edit</a>

    {{ include('branches/_delete_form.html.twig') }}
{% endblock %}
