<!DOCTYPE html>

<title>Employees index</title>

{% block body %}
    <h1>Employees index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Docid</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Userppoe</th>
                <th>Email</th>
                <th>Password</th>
                <th>CreatedDate</th>
                <th>UpdatedDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.docid }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.userppoe }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.password }}</td>
                <td>{{ employee.createdDate ? employee.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ employee.updatedDate ? employee.updatedDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('employees_show', {'id': employee.id}) }}">show</a>
                    <a href="{{ path('employees_edit', {'id': employee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('employees_new') }}">Create new</a>
{% endblock %}
